@charset "utf-8"; 
    
/* CSS Document */ 
* {  
    box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    -o-box-sizing: border-box; 
    -ms-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
} 
body { 
 
    /*width: 90%;*/ 
 	margin: 0; 
 	font-family: "Open Sans",sans-serif; 
 	font-size: 1em; 
 
} 
 
nav, header, main, footer { 
 
    padding:0;
    margin:0; 
    overflow: hidden; 
    display: block; 
} 

/*---NAV---*/
nav{
    background-color: rgb(120, 3, 230);
}

nav > a > img{
    float:left;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2.5em;
}

nav > div{
    float: right;
    margin-top:1em;
    margin-right:2.5em;
}

nav > div > ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}

nav > div > ul> li{
    display: inline-block;
}

nav > div > ul> li> a{
    text-decoration: none;
    color: white;
    background-color: rgb(120, 3, 230);
    border-radius: 13px;
    padding: 15px;
    display: block;
}

nav > div > ul> li> a:hover{
    color:black;
}

/*---HEADER---*/

header {
    background-image: url("../estilosViajes/img/foto-playa.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
}

.hijo > div >img {
    width: 100%;
    margin-bottom: 5px;
}

.hijo > div > a {
    color: rgb(120, 3, 230);
    text-decoration: none;
    font-size: small;
    float: right;
}

.hijo > div > a:hover{
    color:black;
}

.hijo > div > h2 {
    margin: 3px;
}

.hijo > div > p {
    margin: 1.5px 1.5px 15px 1.5px;
}

.hijo {
    float:left;
    height: auto;
    width: 33%;
}

.hijo > div {
    margin: 33,333%;
    margin-left: 1em;
    padding: 15px;
    background-color: white;
}

.hijo > div:hover {
     opacity:80%;
}

.padre {
    overflow:hidden;
    margin-left: 0,5em;
    margin-top: 5em;
    margin-bottom: 5em;
}

/*---MAIN---*/

.titulo{
    margin:0;
    padding:10px;
    
}

.mayusculas {
    text-transform: uppercase;
    font-size: 25px;
    color:rgb(120, 3, 230);
    font-weight: lighter;
    float:left;
}

.descripcion {
    color: #696969;
    font-size: 15px;
    float: left;
    line-height: 4;
}

/*---1---*/

.seccion1 {
    overflow: hidden;
    clear: left;
}

.seccion1 > div{
    float:left;
    width: 33.333%;
}

.seccion1 > div > div {
    background-color: white;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 2px 0 black, 0 1px 5px 0 black, 0 3px 1px -2px black;
    position: relative;
}

.seccion1 img {
    width: 100%;
    height: auto;
    filter: brightness(65%);
}

.seccion1 img:hover {
    filter:brightness(100%);
}

.seccion1 h2 {
    position: absolute;
    bottom: 10%;
    left: 5%;
    padding: 10px;
    text-transform: uppercase;
    text-shadow: 0 2px 2px black;
    color: white;
    font-weight: lighter;
    font-size: 20px;
}

.seccion1 p {
    margin: 5px 0 0px 0;
    padding:0%;
    text-align: right;
    text-transform: uppercase;
}

.seccion1 a {
    text-decoration: none;
    color: #696969;
    font-weight: lighter;
    font-size: 15px;
    margin-right: 15px;
}

.seccion1 a:hover {
    color: black;
}

.seccion1 .all{
    float: right;
}

.seccion1 .all a {
    color: white;
    text-decoration: none;
    background-color: rgb(120, 3, 230);
    padding: 5px;
    text-transform: uppercase;
    display: block;
}

.seccion1 .all a:hover {
    color: black;
}

/*---2---*/

.seccion2 {
    overflow: hidden;
    clear: left;
}

.seccion2 > div {
    float: left;
    width: 25%;
}

.seccion2 > div > div {
    background-color: white;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 2px 0 black, 0 1px 5px 0 black, 0 3px 1px -2px black;
    position: relative;
}

.seccion2 img {
    width: 100%;
    height: auto;
    filter: brightness(65%);
}

.seccion2 img:hover {
    filter:brightness(100%);
}

.seccion2 h2 {
    position: absolute;
    bottom: 10%;
    left: 5%;
    padding: 10px;
    text-transform: uppercase;
    text-shadow: 0 1,5px 1,5px rgb(120, 3, 230);
    color: white;
    font-weight: lighter;
    font-size: 20px;
}

.seccion2 p {
    margin: 5px 0 0px 0;
    padding:0%;
    text-align: right;
    text-transform: uppercase;
}

.seccion2 a {
    text-decoration: none;
    color: #696969;
    font-weight: lighter;
    font-size: 15px;
    margin-right: 15px;
}

.seccion2 a:hover {
    color: black;
}

.seccion2 .all{
    float: right;
}

.seccion2 .all a {
    color: white;
    text-decoration: none;
    background-color: rgb(120, 3, 230);
    padding: 5px;
    text-transform: uppercase;
    display: block;
}

.seccion2 .all a:hover {
    color: black;
}

/*---3---*/

.seccion3 {
    overflow: hidden;
    clear: left;
}

.seccion3 > div {
    float: left;
    width: 50%;
}

.seccion3 > div > div {
    background-color: white;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 1,5px 1,5px 0 black, 0 1px 5px 0 black, 0 3px 1px -2px black;
    position: relative;
}

.seccion3 img {
    width: 100%;
    height: auto;
    filter: brightness(65%);
}

.seccion3 img:hover {
    filter:brightness(100%);
}

.seccion3 h2 {
    position: absolute;
    bottom: 10%;
    left: 5%;
    padding: 10px;
    text-transform: uppercase;
    text-shadow: 0 1,5px 1,5px rgb(120, 3, 230);
    color: white;
    font-weight: lighter;
    font-size: 20px;
}

.seccion3 p {
    margin: 5px 0 0px 0;
    padding:0%;
    text-align: right;
    text-transform: uppercase;
}

.seccion3 a {
    text-decoration: none;
    color: #696969;
    font-weight: lighter;
    font-size: 15px;
    margin-right: 15px;
}

.seccion3 a:hover {
    color: black;
}

.seccion3 .all{
    float: right;
}

.seccion3 .all a {
    color: white;
    text-decoration: none;
    background-color: rgb(120, 3, 230);
    padding: 5px;
    text-transform: uppercase;
    display: block;
}

.seccion3 .all a:hover {
    color: black;
}

/*---FOOTER---*/

footer {
    margin-top: 2em;
    background-color: rgb(120, 3, 230);
}

footer > fieldset  {
    align-items: center;
    text-align: center;
    border: 0;
    border-top: 2px;
    color: white;
}

footer > fieldset >legend {
    border-top: 2em;
    font-size: large;
}

footer > fieldset > div {
    display: inline;
}

footer > fieldset > div > div {
    float: left;
    width: 33.333%;
    height: auto;
}

footer > fieldset > div > div > img {
    width: 15%;
}

.redes {
    background-color: grey;
    display: inline-block;
    width: 100%;
    text-align: center;
    height: 2.5em;
}

.redes > a {
    margin: 2em 4em 2em 4em;
}

.redes > a > img:hover {
    filter: opacity(40%);
}

.aviso {
    background-color: black;
    color: green;
    text-transform: uppercase;
    font-size: 12px;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.aviso > div {
    display: inline;
    
}

.aviso > div > a{
    float:left;
    margin-left: 15em;
    margin-top: 2em;
    margin-bottom: 2em;
    text-decoration: none;
    color: green;
    text-align: center;
}

.aviso > div > a:hover{
    opacity:60%;
}