body{
    background-color: blueviolet;
}
form {
    display: inline-block;
    margin: 20px;
}
label {
    margin-top: 10px;
}
input, select, input{
    width: 100%;
    padding: 10;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
}
input{
    margin-top: 10px;
    margin-right: 10px;   
}

input {
    background-color: white;
    color: grey;
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}